@media only screen and (max-width: 1300px) {
    .responsive-menu-icon {
        display: block;
        margin: 0 !important;
    }

    .nav-container {
        display: none;
    }

    .left-header {
        display: none;
    }

    header {
        align-items: center;
        justify-content: space-between;
    }


}

@media only screen and (max-width: 600px) {
    .main h1 {
        font-size: 1.2rem !important;
        display: block;
        width: 100%;
        text-align: center;
    }

    .main h5 {
        font-size: 0.75rem !important;
        display: block;
        width: 100%;
        text-align: center;
    }

    .main {
        padding: 3.2rem !important;
    }
}

@media only screen and (min-width: 1300px) {
    .responsive-menu-icon {
        display: none;
    }

    .login-responsive-icon {
        display: none;
    }

    .right-responsive-menu {
        display: none;
    }
}