@font-face {
    src: url("../fonts/iran sans/WebFonts/fonts/ttf/IRANSansWeb_Light.ttf") format("ttf"),
        url("../fonts/iran sans/WebFonts/fonts/woff/IRANSansWeb_Light.woff") format("woff");
    font-family: IRANSans;
}

* {
    direction: rtl;
    text-align: right;
    font-family: IRANSans;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*:active {
    border: 0 !important;
    outline: 0 !important;
}

header {
    width: 100%;
    background-color: #202040;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);

}

.logo-container {
    padding: 2vh;
    display: flex;
    align-items: center;
}

.logo-container img {
    display: block;
}

.nav-container {
    width: 60%;
    height: 90px;
}

nav {
    padding: 0.25rem;
    width: 100%;
    align-items: center;
    margin: 0.5rem auto;
}

.menu ul {
    list-style-type: none;
    align-items: center;
    width: 100%;
}

.menu ul li {
    display: block;
    width: calc(100% / 5);
    text-align: center;
    padding: 1rem;
}

.menu ul li a {
    color: aliceblue;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}

.menu ul li a:hover {
    color: #ff5a5f;
}

div.login-section {
    width: 100%;
    color: aliceblue;
}

.login-box {
    width: 50%;
    text-align: center;
}

.login-box i {
    font-weight: 900;
    font-size: 1rem;
    margin-top: 1.8rem;

}

.login-box span a {
    color: aliceblue;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}

.login-box span a:hover {
    color: #ff5a5f;
}

div.login-section button {
    border: none;
    outline: 0;
    transition: all 0.3s;
    color: #ff5a5f;
    width: 10rem;
    height: 3.2rem;
    text-align: center;
    border-radius: 1.8rem;
    margin-top: 0.8rem;
}

div.login-section button:hover {
    background-color: #ff5a5f;
    color: aliceblue;
}

.show-house-menu {
    width: 12rem;
    height: auto;
    right: 0;
    top: 3.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    z-index: 10000;
    background-color: #ffffff;
    border-radius: 7px;

}

.show-house-menu span {
    display: block;
    padding: 2vh 3vh;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

.show-house-menu span:hover {
    background-color: #ff5a5f;
    color: aliceblue;
}

#boxMenu1,
#boxMenu2,
#boxMenu3 {
    display: none;
}

.responsive-menu-icon {
    align-items: center;
    margin: 2rem;
    background-color: #ff5a5f;
    padding: 0.6rem;
    border-radius: 0.25rem;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

.left-header {
    flex: 1;
    height: auto;
}

.login-responsive-icon {
    width: 40px;
    height: 40px;
    color: aliceblue;
    cursor: pointer;
    text-align: center;
    font-size: 1.75rem;
}

.login-responsive-i i {
    font-weight: 900;
}

.right-responsive-menu {
    width: 0;
    /* jquery */
    height: 100vh;
    z-index: 100000;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
    display: none;
}

span.title {
    display: block;
    width: 100%;
    text-align: center;
    height: 52px;
    padding: 1rem;
    font-size: 1.2rem;
}

#closeIcon {
    color: #aaaaaa;
    cursor: pointer;
    position: absolute;
    left: 1.2rem;
}

.menu-item {
    display: block;
    width: 100%;
    height: 52px;
    padding: 0.8rem;
    border-top: 1px solid #ebebeb;
}

.menu-item a {
    width: 90%;
    display: inline-block;
    color: #000;
    font-size: 1.2rem;
    transition: all 0.3s;
}

.menu-item a:hover {
    color: #ff5a5f;
}

.menu-item i {
    width: 7%;
    text-align: center;
    cursor: pointer;
}

#home {
    color: #ff5a5f;
}

a:hover {
    text-decoration: none !important;
}

.main {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 4rem;
    height: auto;
    background-image: url('../images/wallpapertip_luxury-home-wallpaper_1728223.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.main::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 120;
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    width: 100%;
    height: 100%;
}

.main h1 {
    color: #ffffff;
    z-index: 200;
    line-height: 1.5;
    font-size: 2.7vw;
}

.main h5 {
    color: #ffffff;
    z-index: 200;
    line-height: 1.5;
    font-size: 1.5vw;
}

.tabs-container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.tabs {
    border: none;
    cursor: pointer;
    width: 5.6rem;
    padding: 0.75rem;
    background-color: #ffffff;
    text-align: center;
    z-index: 2500;
    margin-top: 1.8rem;
    border-radius: 15px;
    margin-left: 1rem;
    font-weight: 700;
    transition: all 0.3s;
}

.tabs:hover {
    background-color: #ff5a5f;
}

.show-tabs-container {
    width: 20rem;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2555;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    margin: 10px;
    padding: 1rem;
    margin: 2rem auto;
    height: auto;
}

.show-tabs {
    padding: 20px;
    /* 20px */
    background-color: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    height: auto;

}

.accordion-items-my {
    width: 100%;
    display: block;
    border: 1px solid #d8d8d8;
    outline: none;
    background-color: #fff;
    border-radius: 6px;
    padding: 4.5%;
    margin-top: 0.75rem;
    font-size: 0.8rem;
    position: relative;
}

input.accordion-items {
    font-size: 0.75rem;
}

.icon-down {
    position: absolute;
    left: 0.5rem;
    top: 1rem;
    color: #aaaaaa;
}

.tabs-collapse {
    width: 100%;
    height: auto;
    padding: 0.3rem;
    background-color: #fff;
    display: none;/* jquery block*/
}

.collapse-items-my {
    display: block;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s;
}

.collapse-items-my:hover{
    background-color: #ff5a5f;
    color: #ffffff;
}